body {
    font-family: 'Inter', sans-serif;
    background-color: #F9FAFB;
    color: #111827;
    margin: 0;
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: #4F46E5;
    color: white;
  }
  .container h1{
    text-align: center;
  }

  .header nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
    transition: 0.25s;
  }
  .header nav a:hover{
    color: rgb(188, 188, 188);
  }
  .hero {
    text-align: center;
    padding: 4rem 1rem;
  }
  
  .hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  

  
  .features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
  }
  
  .feature-card {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
    flex: 1;
    text-align: center;
  }
  
  .footer {
    background-color: #6B7280;
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 0.9rem;
  }
  .btn-primary {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  .btn-primary:hover {
    background-color: #0056b3;
  }
  code {
    display: block;
    padding: 8px;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 12px;
    white-space: pre;
    font-family: Consolas, monospace;
  }

  p {
    margin: 8px 0;
  }